@use "sass:color";
@use "./variables";
@use "../utils";

/* ----------------------------------- */
/*          CUSTOM CLASSES             */
/* ------------------------------------*/

/* ----------------------------------- */
/*    BACKGROUND COLORS                */
/* ------------------------------------*/

.bg-dark {
    background-color: variables.$clr-dark;
}

.bg-med-grey {
    background-color: variables.$clr-med-grey;
}

.bg-lt-grey {
    background-color: variables.$clr-lt-grey;
}

.bg-off-white {
    background-color: variables.$clr-off-white;
}

.bg-white {
    background-color: variables.$clr-white;
}

/* ----------------------------------- */
/*    TEXT COLORS                      */
/* ------------------------------------*/
.text-dark {
    color: variables.$clr-dark;
}

.text-med-grey {
    color: variables.$clr-med-grey;
}

.text-lt-grey {
    color: variables.$clr-lt-grey;
}

.text-off-white {
    color: variables.$clr-off-white;
}

.text-white {
    color: variables.$clr-white;
}

/* ----------------------------------- */
/*    TOPOGRAPHY                       */
/* ------------------------------------*/
.fs-100 {
    font-size: variables.$fs-100;

    @include utils.mQ(38.75rem) {
        font-size: variables.$fs-300;
    }
}

.fs-200 {
    font-size: variables.$fs-200;
}

.fs-300 {
    font-size: variables.$fs-300;
}

.fs-400 {
    font-size: variables.$fs-400;
}

.fs-500 {
    font-size: variables.$fs-500;
}

.fs-600 {
    font-size: variables.$fs-600;
}

.fs-700 {
    font-size: variables.$fs-700;
}

.fs-800 {
    font-size: variables.$fs-800;
}

.fs-900 {
    font-size: variables.$fs-900;
}

.fs-1000 {
    font-size: variables.$fs-1000;
}

.fs-1100 {
    font-size: variables.$fs-1100;
}

.fs-1200 {
    font-size: variables.$fs-1200;
}

.fs-1300 {
    font-size: variables.$fs-1300;
}

.fw-normal {
    font-weight: variables.$fw-normal;
}

.fw-bold {
    font-weight: variables.$fw-bold;
}

.letter-spacing {
    letter-spacing: 1.93px;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.darken-color {
    color: darken(variables.$clr-white, 20%);
}

.lighten-mid-grey {
    color: lighten(variables.$clr-med-grey, 46%); 
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    left: 1.5rem;
}

.absolute-top {
    position: absolute;
    z-index: 1;
    top: 1.5rem;
    left: 1.5rem; 
}

.container {
    padding: variables.$spacer-1;

    @include utils.mQ(38.75rem) {
        padding-block: variables.$spacer-2;
        padding-inline: variables.$spacer-3;
    }
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.grid {
    display: grid;
}

.grid-masonry {
    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .75rem;
    grid-template-rows: masonry;
    //  grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.anchor-color {
    color: white;
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}