@use "sass:color";
@use "../base";
@use "../utils";

.btn-image {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: base.$clr-white;
    background-color: lighten(base.$clr-dark, 10%);
    opacity: 80%;
    padding: .5rem 1rem;
}

.main-image {
    .absolute {
        width: 80%;
        bottom: -1.4rem;
        left: 0rem;
        background: white;
        padding-block: .5rem;
        padding-inline-start: 1.5rem;
        // margin-block-end: 1.5rem;
    }

    @include utils.mQ(38.75rem) {
        flex: 1 1 60%;

        .absolute {
            bottom: auto;
            left: 50%;
            top: 0;
            padding-block-end: base.$spacer-4;
        }
    }
}

.image-heading {
    color: lighten(base.$clr-med-grey, 46%);
    margin-top: base.$spacer-1;
}

.author-image {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-block-start: 3.5rem;

    img {
        transform: scale(0.5);
    }

    @include utils.mQ(38.75rem) {
        margin-block-start: 0;
        flex: 1 1 40%;
        align-items: center;
        justify-content: center;
        z-index: 1;

        img {
            transform: scale(1);
        }
    }
}

.year {
    color: base.$clr-off-white;
    position: absolute;
    top: -4.5rem;
    left: 28%;
    @include utils.mQ(38.75rem) {
        left: 0;
     }
}

.description {
    line-height: 2;
    top: base.$spacer-2;
    position: relative;
    margin-block-end: base.$spacer-5;

    @include utils.mQ(38.75rem) {
        top: base.$spacer-5;
        margin-block-end: base.$spacer-6;
        width: 68%;
        margin-inline: auto;
    }
}

.additional-content {
    position: relative;

    @include utils.mQ(38.75rem) {
        margin-block-start: base.$spacer-5;
    }
}

.btn-source {
    letter-spacing: 1.93px;
}

.image-content {
    @include utils.mQ(38.75rem) {
        display: flex;
    }
}

.container-btn-source {
    @include utils.mQ(38.75rem) {
        width: 68%;
        margin-inline: auto;
    }
}

.footer {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: .125rem;
        background-color: base.$clr-lt-grey;
        left: 0;
        top: -(base.$spacer-2);
    }
}

.footer-slide {
    margin-block-start: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    display: flex;
    gap: 1rem;
}

.btn-disabled {
    pointer-events: none;
    filter: brightness(50%) opacity(40%);
}