@use "sass:color";
@use "../base";
@use "../utils";

.btn-image {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: base.$clr-white;
    background-color: lighten(base.$clr-dark, 10%);
    opacity: 80%;
    padding: .5rem 1rem;
}

.main-image {
    z-index: 1;
    .absolute {
        width: 80%;
        bottom: -1.4rem;
        left: 0rem;
        background: white;
        padding-block: .5rem;
        padding-inline-start: 1.5rem;
        // margin-block-end: 1.5rem;
    }

    @include utils.mQ(38.75rem) {
        flex: 1 1 70%;

        .absolute {
            bottom: auto;
            left: 50%;
            top: 0;
            padding-block-start: 0;
            padding-block-end: base.$spacer-4;
        }
    }
}

.slide, .image-content {
    outline: none;
}

.slide-artist-name,
.slide-artist-name-footer {
    color: lighten(base.$clr-med-grey, 46%);
    margin-top: base.$spacer-1;
}

.slide-image-name {
    @include utils.mQ(38.75rem) {
        font-size: base.$fs-1100;
    }
}

.author-image {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-block-start: 3.5rem;

    img {
        transform: scale(0.5);
    }

    @include utils.mQ(38.75rem) {
        margin-block-start: 0;
        flex: 1 1 30%;
        align-items: center;
        justify-content: center;
        z-index: 1;

        img {
            transform: scale(1);
        }
    }

    @include utils.mQ(67.5rem) {
        align-items: flex-end;
    }
}

.year {
    color: base.$clr-off-white;
    position: absolute;
    top: -4.5rem;
    left: 28%;

    @include utils.mQ(38.75rem) {
        left: 0;
        font-size: base.$fs-1300;
    }
}

.description {
    line-height: 2;
    top: base.$spacer-2;
    position: relative;
    margin-block-end: base.$spacer-5;

    @include utils.mQ(38.75rem) {
        top: base.$spacer-5;
        margin-block-end: base.$spacer-6;
        width: 68%;
        margin-inline: auto;
    }
}

.additional-content {
    position: relative;

    @include utils.mQ(38.75rem) {
        margin-block-start: base.$spacer-5;
    }

    @include utils.mQ(67.5rem) {
        flex: 1 1 50%;
    }
}

.btn-source {
    letter-spacing: 1.93px;
    @include utils.hoverFocus();
}

.image-content {
    @include utils.mQ(38.75rem) {
        display: flex;
    }

    @include utils.mQ(67.5rem) {
        flex: 1 1 50%;
    }
}

.container-btn-source {
    @include utils.mQ(38.75rem) {
        width: 68%;
        margin-inline: auto;
    }
}

.main-slide {
    @include utils.mQ(67.5rem) {
        display: flex;
    }
}

.overlay-container {
    position: relative;
}

.overlay {
    display: none;
    background-color: darken(base.$clr-lt-grey, 90%);
    min-height: 137vh;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    opacity: .95;
    padding: base.$spacer-1;
    left: 0;

    @include utils.mQ(38.75rem) {
        padding: base.$spacer-1 base.$spacer-5;
    }

    @include utils.mQ(67.5rem) {
        padding: base.$spacer-5;
    }
}

.overlay-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    position: absolute;
    right: 0;
    top: -3rem;
    background-color: inherit;
    color: white;
    border: none;

    @include utils.hoverFocus();
}


.footer {
    position: relative;
}

.progressive-bar {
    position: relative;
    content: "";
    width: 100%;
    height: .125rem;
    background-color: base.$clr-lt-grey;
    left: 0;
    top: base.$spacer-2;
}

.progress {
    height: 100%;
    background-color: base.$clr-dark;
    display: block;
}

.footer-slide {
    margin-block-start: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    display: flex;
    gap: 1rem;
}

.btn-disabled {
    pointer-events: none;
    filter: brightness(50%) opacity(40%);
}