@use "../base";
@use "../utils";

.App {
    min-height: 100vh;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: .125rem;
		background-color: base.$clr-lt-grey;
		left: 0;
		top: base.$spacer-5;
	}

	@include utils.mQ(38.75rem) {
      &::before {
		top: 5.5rem;
	  }
    }
}
.main {
	max-width: 1360px;
	margin-block-start: base.$spacer-4;
	margin-block-end: base.$spacer-1;
	margin-inline: auto;

	@include utils.mQ(38.75rem) {
		margin-block-start: 4.25rem;
	 }

}